<section>
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input type="email" matInput placeholder="email" email ngModel name="email" #emailInput="ngModel" required>
      <mat-error *ngIf="emailInput.hasError('required')">please enter an email address</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">please enter valid email address</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="password" ngModel name="password" #passwordInput="ngModel" required minlength="6">
      <mat-error *ngIf="passwordInput.hasError('required')">please enter a password</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button [disabled]="f.invalid">Login</button>
  </form>
</section>
