<section>
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input type="email" matInput placeholder="Your email" ngModel name="email" email required #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">Input required</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Invalid email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Your password" ngModel name="password" required minlength="6"
             #pwdInput="ngModel">
      <mat-hint>Minimum length 6 ({{ pwdInput.value?.length }})</mat-hint>
      <mat-error>Should be at least 6 characters</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="your birthdate" ngModel name="birtdate" required [matDatepicker]="picker" [max]="minAge">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox ngModel name="agree" required>Agree to terms and conditions</mat-checkbox>
    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
  </form>
</section>
